 @media (min-width: 641px) {

	.main-navigation ul { margin-right: 0px; margin-left:auto; float: right; }
.main-navigation ul li { display: inline;  } 
.site-branding {width: 15%; vertical-align: middle;}
.main-navigation {width: 85%; }

.main-navigation ul li a { font-size: 0.9vw; border-right: #00adee 1px solid; display: inline; padding: 3px 10px; } 

.main-navigation ul li:nth-child(6) a, .main-navigation ul li:nth-child(7) a, .main-navigation ul li:nth-child(8) a {
	border-right: none; padding: 0px;  }

	.main-navigation ul li:nth-child(6) a {
		font-size: 20px;
		padding-left: 10px; 
	}
	.main-navigation ul li:nth-child(7) a {
		font-size: 20px;
		padding-left: 10px; 
		padding-right: 10px;
	}
	.main-navigation ul li:nth-child(8) a {
		color: #004071;
		background: #9cc840;
		padding: 1.9vw 10px 1.8vw 9px;
		line-height: 0px;
		font-size: 1.35vw;
	}
	.main-navigation ul li:nth-child(9) a {
		color: #004071;
		background: #9cc840;
		padding: 1.9vw 10px 1.8vw 9px;
		line-height: 0px;
		font-size: 1.35vw;
	}
	.presentacion h2 {font-size:30px;}

	#presentacion .cuerpo {
	-moz-column-count: 2 !important;
-webkit-column-count:2 !important;
column-count:2 !important;
-moz-column-gap: 20px !important;
-webkit-column-gap:20px !important;
column-gap:20px !important;
-moz-column-rule: 1px solid #9cc840;
-webkit-column-rule:1px solid #9cc840;
column-rule:1px solid #9cc840;
margin-bottom: 50px;
}

.doscols {
-moz-column-count: 2 !important;
-webkit-column-count:2 !important;
column-count:2 !important;
-moz-column-gap: 20px !important;
-webkit-column-gap:20px !important;
column-gap:20px !important;
-moz-column-rule: 1px solid #9cc840;
-webkit-column-rule:1px solid #9cc840;
column-rule:1px solid #9cc840;
margin-bottom: 50px;

}
div.promocion form input {  }
.col1, .col2 { display: inline-block; width: 50%; vertical-align: top; }
.bloque {padding: 15vh 0px;}

.bloque .col2 a { font-size: 18px;color: #9cc840;}

.aliados .logotipos img { display: inline-block; margin: 10px; width: auto; height:60px; vertical-align: middle; }
.contacto .col1 {text-align: right;}

.contacto p { width: 60%; margin-right: 0px; margin-left: auto; }

.contacto form .col1, .contacto form .col2 { display: inline-block; width: 49%; padding-left: 10px; }
#caratulamobile { display: none; }

.btndoc { width: 50%; display: inline-block !important; }
.sucursal { width: 25%; }
 } /*  FIN ESCRITORIO */


 @media (max-width: 640px) {
	nav button { float: right; background: ##004071 !important; color: #FFF; }

 
 .main-navigation ul li.menu-item { display: block !important; width: 100% !important; text-align: center;  }
 .site-branding {vertical-align: top; width: 100%; padding-right: 40%;}
 .main-navigation {width: 100%; }


 .main-navigation ul li a { font-size: 18px; border-top: #00adee 1px solid; display: block; padding: 6px 10px; margin-bottom: 0px; line-height: 40px;} 


.main-navigation ul li:nth-child(6) a, .main-navigation ul li:nth-child(7) a, .main-navigation ul li:nth-child(8) a {
	border-right: none; padding: 0px;  }

.main-navigation ul li:nth-child(6), .main-navigation ul li:nth-child(7) { display: inline-block !important; width: 50%!important; }

	.main-navigation ul li:nth-child(6) a {
		font-size: 30px; display: inline-block!important; width: 100%!important;
		padding-left: 10px; 
	}
	.main-navigation ul li:nth-child(7) a {
		font-size: 30px;
		padding-left: 10px; 
		padding-right: 10px;
		display: inline-block!important; width: 100%!important;
	}
	.main-navigation ul li:nth-child(8) a {
		background: #9cc840;
		padding: 5px 10px;
		line-height: 0px;
		font-size: 32px;
	}
	.main-navigation ul li:nth-child(9) a {
		background: #9cc840;
		padding: 5px 10px;
		line-height: 0px;
		font-size: 32px;
	}

.presentacion h2 {font-size:18px; width: 96%; margin:20px auto;}

div.promocion form input { width: 100% !important; }
.presentacion .cuerpo { width: 94%; margin: auto; } 
.bloque {padding: 20px 0px;}

.bloque .col2 { border: none !important; margin-top: 40px;  }
.bloque .col2 ul { margin: 0px auto; width: 98%;  }
.bloque .col2 a { font-size: 16px; color: #FFF;}
.bloque .col2 a svg { color: #9cc840; }

.aliados .logotipos img { display: inline-block; margin: 10px; width: 40%; height:auto; vertical-align: middle; }
.contacto .col1 {text-align: center;}
.contacto p { width: 98%; margin: auto; }

.contacto form .col1, .contacto form .col2 {  width: 96%; margin: auto; }


#gallery-1, .bx-controls { display: none; }
#caratulamobile { background-color: #9cc840; height: 85vh; margin-top: -100px; padding-top: 100px;  }

#caratulamobile h1 { color: #FFF; font-size: 18px; text-align: center;  width: 96%; margin: auto;margin-top: 100px;}
#caratulamobile a { display: block; width: 200px; background: #9cc840; margin: 20px auto; padding: 5px 10px; text-decoration: none; color: #FFF;
-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
#caratulamobile a svg { float: right; color: #004071; font-size: 20px; }
a.btndoc { display: block; width: 96%; margin: auto; }
.sucursal { width: 50% !important; }
/* FIN DE MOBILE */
}
